/.vault-stats
/.obsidian/plugins/
/.obsidian/themes/
/.trash/
/copilot/
/Inbox/
/pdf/
/Resource/微信读书笔记/
/Tools/Obsidian/Excalidraw/
*.o
*.bak
Untitled*
.DS_Store




# Ignore Smart Environment folder
.smart-env